name: documentation

on:
  push:
    branches: main

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        
        with:
          python-version: '3.11'
      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install project dependencies
        run: uv sync --all-extras

      - name: Build Sphinx Documentation
        run: |
          cd docs
          uv run sphinx-build -b html . _build/html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
